.back{
    margin-top: 1%;
    left: 20px;
    position: absolute;
    background-color: #6600a1;
    color: white;
    border-radius: 15px;
    padding: 5px;
    width: 80px;
}
.back:hover{
    background-color: #8300cf;
}
.back img{
    width: 40px;
}
.spinner{
    width: 55px;
    height: 55px;
}