@font-face {
    font-family: The Gunslinger Waterdrop;
    src: url("../fonts/Gunslinger.otf");
}
.bienvenida{
    font-family: The Gunslinger Waterdrop;
    font-size: 7rem;
    margin-top: 2%;
}
.margen{
    margin-bottom: 4%;
}