.flexProducto{
    width: 21%;
    transition: all 250ms;
    padding: 1%;
    margin: 2% auto;
    border-top: grey solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexProducto:hover{
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
}
.fotoProducto{
    height: 320px;
}
.nombreProducto{
    
}
.precioProducto{
    font-size: 1.1rem;
}
.detalle{
    text-decoration: none;
    color: white;
    border: solid 2px black;
    padding: 1%;
    border-radius: 5px;
    width: 115px;
    background-color: #6600a1;
    font-size: 1.2rem;
}
.detalle:hover{
    color: #b3ff00;
}